# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
.env/
env/
venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data & artifacts
# =========================
data/
**/data/

# MLflow
mlruns/
**/mlruns/
experiments_*/
**/experiments_*/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/
